<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <servers>
    <server>
      <filePermissions>664</filePermissions>
      <directoryPermissions>775</directoryPermissions>
      <username>admin</username>
      <password>admin123</password>
      <id>snapshots</id>
    </server>
    <server>
      <filePermissions>664</filePermissions>
      <directoryPermissions>775</directoryPermissions>
      <username>admin</username>
      <password>admin123</password>
      <id>releases</id>
    </server>
  </servers>
  <profiles>
    <profile>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>releases</id>
          <name>releases</name>
          <url>http://10.10.0.9:12126/repository/maven-releases/</url>
        </repository>
        <repository>
          <snapshots />
          <id>snapshots</id>
          <name>snapshots</name>
          <url>http://10.10.0.9:12126/repository/maven-snapshots/</url>
        </repository>
      </repositories>      
      <id>nexus</id>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>nexus</activeProfile>
  </activeProfiles>
</settings>